*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'sf-pro-display';
  src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'sf-pro-display';
  src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'spaceagecyrillic';
  src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
    url('../fonts/spaceagecyrillic-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
a {
  color: inherit; /*цвет как у родителя свойство*/
  text-decoration: none; /*подчеркивание*/
}

button {
  border: none; /*нет границ кнопки*/
  background-color: transparent; /*прозрачность*/
  cursor: pointer;
  color: inherit;
}

body {
  font-family: 'sf-pro-display';
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fff;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
.title {
  font-family: 'spaceagecyrillic';
  padding: 100px 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
}
.button {
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 45px;
}
.header {
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0 30px;
}
.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 30px;
}

.menu__link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  transition: color 0.5s;
}

.menu__link:hover {
  color: #cb0e0e;
}

.phone {
  font-size: 24px;
  line-height: 29px;
  margin-left: auto;
}

.login {
  margin-right: 134px;
}

.header__content {
  max-width: 600px;
}

.header__title {
  font-family: 'spaceagecyrillic';
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header__title span {
  font-size: 110px;
}

.header__text {
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.header__btn {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border: 1px solid #fff;
  padding: 15px 10px 16px;
}

.header__discription {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
}

.header__discription-text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
}

.header__discription-text + .header__discription-text {
  margin-left: 52px;
}

.about {
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
  flex-wrap: wrap;
}

.about__item:nth-child(odd) {
  flex-direction: row-reverse;
}

.about__img {
  max-width: 100%;
}

.about__content {
  width: 600px;
}

.about__content-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about__content-subtitle {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #036cca;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about__content-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about__content-text p {
  width: 165px;
}

.about__table {
  margin-bottom: 50px;
}

.about__table-caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}

.about__table-tr {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}

.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
}

.about__table-td {
  padding: 10px 30px 10px 0;
}

.about__table-td span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.how-to {
  background-image: url(../images/howto-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
}

.how-to__box {
  text-align: center;
}

.how-to__box circle,
.how-to__box text,
foreignObject {
  transition: all 0.5s;
  cursor: pointer;
  font-size: 18px;
}

.how-to__box g:hover circle {
  r: 20px;
  fill: #036cca;
}

.how-to__box g:hover text {
  fill: #036cca;
  font-size: 36px;
}

.how-to__box g:hover foreignObject {
  color: #036cca;
  font-size: 22px;
}

foreignObject {
  text-align: left;
}

.to-book {
  background-image: url(../images/tobook-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
}
.to-book__inner {
  display: flex;
  justify-content: space-between;
}

.to-book__text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 52px;
}

.to-book__text:first-child {
  margin-right: 0;
  margin-left: 0;
}
